<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  .container {
    display: block;
    margin-bottom: 10px;
  }

    </style>
    <script>
        // Refresh the page every 5 seconds (5000 milliseconds)
        setInterval(function() {
            location.reload();
        }, 10000);
    </script>
</head>

<body>
<h1>Multiplayer Game</h1>
<h2>Start New Game</h2>
<form method="post">
    <label for="min">min:</label>
    <input type="number" id="min" name="min">
    <label for="max">max:</label>
    <input type="number" id="max" name="max"><br><br>
    <label for="x">pile1:</label>
    <input type="number" id="x" name="x">
    <label for="y">pile2:</label>
    <input type="number" id="y" name="y">
    <label for="z">pile3:</label>
    <input type="number" id="z" name="z">
    <input type="submit" value="Enter">
</form>

<h1>Multiuser Game</h1>
<h2>Game Play</h2>
<h3>Current Player: {{ game.current_player }}</h3>
<h3>Stone Piles:</h3>
<ul>
    {% for pile in game.piles %}
    <li>Pile {{ loop.index }}: {{ pile }}</li>
    {% endfor %}
</ul>
<h3>Player Scores:</h3>
<ul>
    {% for player, score in game.get_scores().items() %}
    <li>{{ player }}: {{ score }}</li>
    {% endfor %}
</ul>
<ul>

    <ul>
        {% for player, score in game.get_scores().items() %}
        {% if score == game.single_scores() %}
        <li>Winning player: {{ player }}: {{ score }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</ul>


</body>
