<!DOCTYPE html>
<html>
<head>
    <title>Player 1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        // Refresh the page every 5 seconds (5000 milliseconds)
        setInterval(function() {
            location.reload();
        }, 10000);

    </script>
</head>
<body>
<h1>Multiplayer Game</h1>
<h2>Start New Game</h2>
<form method="post">
    <label for="player1">Player 1:</label>
    <input type="text" id="player1" name="player1" value="{{ player1 }}" required>
    <input type="hidden" id="room" name="room" value="{{ session['room'] }}">
    <input type="submit" value="Enter game">
</form>

<h1>Multiuser Game</h1>
<h2>Game Play</h2>
<h3>Current Player: {{ player1 }}</h3>
<h3>Player Scores:</h3>
<ul>
    {% for player, score in game.get_scores().items() %}
    <li>{{ player }}: {{ score }}</li>
    {% endfor %}
</ul>
<h2>Question: {{question}}</h2>
<h3>Answer the question:</h3>
<form action=/check_answer1 method="post">
    <label for="answer1">Enter answer:</label>
    <input type="text" id="answer1" name="answer1">
    <input type="submit" value="Send">
</form>

</body>
</html>
